:root {
  --bg-white: #EDF2FB;
  --bg-lavweb-1: #E2EAFC;
  --bg-lavweb-2: #D7E3FC;
  --bg-peri: #CCDBFD;
  --bg-lavblue-1: #C1D3FE;
  --bg-lavblue-2: #B6CCFE;
  --bg-babyblue: #ABC4FF;
  --bg-blue: #0d6efd;
}


body {
  height: 100vh;
  background: var(--bg-lavweb-2);
}

#content {
  display: flex;
  flex-direction: column;
  text-align: center;
  max-width: 40rem;
  min-width: 22rem;
  height: 34rem;
  margin: 10vh auto;
}

header {
  padding-top: 2rem;
}

.score{
  text-align: center;
}

#gameplay {
  display: flex;
  flex-direction: row;
  vertical-align: middle;
}

section#board {
  margin: 5vh auto;
  display: grid;
  grid-template-rows: repeat(3, 10vmin);
  grid-template-columns: repeat(3, 10vmin);
  grid-gap: 0vmin;
}

#board>div {
  border: 3px solid black;
  font-size: 8vmin;
  text-align: center;
  vertical-align: middle;

}

.board-active:hover {
  cursor: pointer;
}